@model IEnumerable<Finance>
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
<h1>Yahoo Finance</h1>
<a href="@Url.Action("Refresh","Finance")" class="btn btn-primary btn-lg">Refresh</a>
</div>
<br />
<div class="d-flex flex-column">
    @if (TempData["Info"] != null)
    {
        <div class="alert alert-primary" role="alert">
            <p><strong class="error">Success:</strong> @TempData["Info"].ToString()</p>
            <script>
                window.setTimeout(function () {
                    location.href = "Finance";
                }, 3000);
            </script>
        </div>
    }
</div>

<table class="table table-bordered table-sptriped" style="width:100%">
    <thead>
        <tr>
            <th>CompanyName</th>
            <th>MarketCap</th>
            <th>YearFounded</th>
            <th>Employees</th>
            <th>City</th>
            <th>State</th>
            <th>DateAndTime</th>
            <th>PreviusClosePrice</th>
            <th>OpenPrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr width="50%">
                <th>@item.CompanyName</th>
                <th>@item.MarketCap</th>
                <th>@item.YearFounded</th>
                <th>@item.Employees</th>
                <th>@item.City</th>
                <th>@item.State</th>
                <th>@item.DateAndTime</th>
                <th>@item.PreviusClosePrice</th>
                <th>@item.OpenPrice</th>
            </tr>
        }
    </tbody>

</table>